@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kanit&family=Zeyada&display=swap');
body {
    color: blue;
    font-family: 'Zeyada', cursive;;
    padding: 2em;
}

h1 {
    color: purple;
    font-size: 2em;
    font-family: 'Kanit', sans-serif;;
}

.large-header {
    color: green;
    font-size: 1.5em;
}

#tray{
    background-color: bisque;
    margin-top: 1em;
    padding: 1em;
}

#tray ul{
    font-family: 'Abel', sans-serif;
    cursor: pointer;
}

#tray ul:after{
    content: '+';

}

#tray[open] ul:after{
    color: aqua;
    
}

#tray[open] ul:after{
    content: '-';
    
}

#tray p :last-child{
    color: red
}








/* use element selactor for changing link color */