@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Zeyada&display=swap');
body {
    color: blue;
    font-family: 'Zeyada', cursive;;
    padding: 2em;
}

h1 {
    color: purple;
    font-size: 2em;
    font-family: 'Kanit', sans-serif;;
}

.large-header {
    color: green;
    font-size: 1.5em;
}