@font-face {
    font-family: myFirstFont;
    src: url(file:///Users/aliciakim/Desktop/GitHub/kima894.github.io/index.html);
}

html{
    background-image: url("Assignment_1/Pictures/Cloud1.webp");
}

body{

        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        padding: 12px;
        font-size: 17pt;    
}


body2{

    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    position:relative;
    top: -470px;
    right: 500px;
    
    /* width: 100%;
        max-width: 720px;
        margin: -500px ;
        move-up: 100px;
        padding: -10px;
        font-size: 17pt;     */
}