@font-face {
    font-family: myFirstFont;
    src: url(file:///Users/aliciakim/Desktop/Parsons/2022-23/2nd_Semester%202023/Core2_interaction/Assignment_1/Story_page_3.html);
}
html {
    background-color: lightblue;
      font-size: 23px;
      min-height: 200vh; 
      font-family: "Sofia", sans-serif;
      
    }
  