@font-face {
    font-family: myFirstFont;
    src: url(file:///Users/aliciakim/Desktop/Parsons/2022-23/2nd_Semester%202023/Core2_interaction/Assignment_1/Story_page_4.html);
}
html {
    background-image: url("file:///Users/aliciakim/Desktop/GitHub/kima894.github.io/Assignment_1/Pictures/Treasure_chest.jpg");
      font-size: 23px;
      min-height: 180vh; 
      font-family: "Sofia", sans-serif;
      
    }
    body {
        width: -10%;
        max-width: 200px;
        margin: 0 auto;
        position:relative;
        top: 890px;
        left: 100px;
        
      
      }
  
   