/* I tried... I really tried */
:root {
    --spacing: 16px; 
}

@media (min-width: 600px) {
    :root {
        --spacing: 40px; 
    }
}

body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px min-content 1fr min-content; 
    min-height: 100vh;
    grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
} 




header {
    background-color: rgb(106, 106, 179);
    top: 1vh;
    position: sticky;
    grid-area: header;
}

h1{
    font-size: 200%;

}

main{
    border: 1px solid black;
    height: 76vh;
    overflow-x: hidden;
    overflow-y: scroll; 
    grid-area: main;
}

aside {
    background-color: rgb(187, 166, 207);
    grid-area: aside;

}

footer{
    background-color: rgb(95, 181, 95);
    grid-area: footer;

}

.inset {
    padding: var(--spacing);
}

#breedList{
    --column-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    column-gap: var(--spacing);
    row-gap: calc(var(--spacing) * 2);
    
}

#breedList li{
    background-color: rgb(173, 120, 223);
    border-radius: .5vh;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 600px) {
    body{
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr min-content;
    grid-template-areas:         
    "header header"
    "aside main"
    "footer footer";
    
    }

    #breedlList{
        --column-count: 2;
        width: 20vh; 
        background-color: rgb(67, 203, 203);
    }

    main{
        overflow-x: scroll;
        overflow-y: scroll; 
        grid-area: main;        

    }
}

@media (min-width: 1280px) {
    body{
    grid-template-columns: 1fr 4fr 1fr;

    }

    #breedlList{
        --column-count: 5;
        
    }


    main{
        border: 1px solid black;
        height: 78vh;
        width: 75vh;
        overflow-x: hidden;
        overflow-y: scroll; 
        grid-area: main;        
    }
}


