:root {
    --spacing: 16px; 
}

@media (min-width: 600px) {
    :root {
        --spacing: 32px; 
    }
}

body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 150px min-content 1fr min-content; 
    min-height: 100vh;
} 

header {
    background-color: rgb(106, 106, 179);
}

h1{
    font-size: 200%;
}

aside {
    background-color: rgb(199, 139, 255);
}

footer{
    background-color: rgb(95, 181, 95);
}

.inset {
    padding: var(--spacing);
}