:root {
    --spacing: 16px; 
}

@media (min-width: 600px) {
    :root {
        --spacing: 32px; 
    }
    body{
    grid-template-columns: 2fr 1 fr;
    grid-template-rows: 200px 1fr min-content;
    grid-template-areas:         
    "header header"
    "aside main"
    "footer footer";
    }
}

body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 150px min-content 1fr min-content; 
    min-height: 100vh;
    grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
} 

header {
    background-color: rgb(106, 106, 179);
    top: 1vh;
    position: sticky;
    grid-area: header;
}

h1{
    font-size: 200%;
}

main{
    overflow-x: scroll;
    grid-area: main;
}

aside {
    background-color: rgb(199, 139, 255);
    grid-area: aside;

}

footer{
    background-color: rgb(95, 181, 95);
    grid-area: footer;

}

.inset {
    padding: var(--spacing);
}

#breedList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--spacing);
    row-gap: calc(var(--spacing) * 2);
}

#breedList li{
    background-color: rgb(173, 120, 223);
    border-radius: .5vh;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}