/* Just to make the demo easier to work with. */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Concert+One&family=Kalam:wght@300;400;700&family=Kanit&family=Playfair+Display&family=Sawarabi+Mincho&family=Ubuntu&family=Zeyada&display=swap');

:root {
	--spacing: 1em;
}

html{
	background-color: rgb(212, 156, 208);
}

body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
	font-family: 'Concert One', cursive;

}

aside { margin-bottom: calc(4 * var(--spacing)); }

h1 { 
	font-size: 300%; 
	text-align: center;
	color: azure;
}

h2 { font-weight: bold; }

a { color: blue; }



em { font-style: italic }

ul {
	display: grid;
	grid-template-columns: 5fr 5fr 5fr;
	gap: calc(7 * var(--spacing));
	/* margin-top: calc(4 * var(--spacing)); */
	padding-left: 10vh;
}

li {
	display: grid;
	gap: var(--spacing);
}

.faded { opacity: 0.333 }

label { opacity: 50%; }

select, ul {
    border-radius: calc(var(--spacing) / 4);
}

.lab{
	position: relative;
	text-align: center;
	padding: 5vh;
}

.homeButton{
	position: fixed;
	width: 10vh;
	left: .5vh;
}