html{
  background-color: rgb(255, 245, 235);
  overflow: hidden;
}

p{
  font-size: 23px;
  color: rgb(255, 245, 235);
  margin-top: -40px;
  columns: 3;
  opacity: 60%;
  overflow: hidden;
  color: transparent;
      text-shadow: 0 0 1.9px  rgb(255, 245, 235);
      -webkit-animation: glow 3s ease-in-out infinite alternate;
      -moz-animation: glow 3s ease-in-out infinite alternate;
      animation: glow 3s ease-in-out infinite alternate;
}



.boxed{
  background-color: #8a7966;
  width: 1365px;
  height: 705px;
  padding: 200px;
  border: 10px solid rgb(70, 51, 36);
  margin: 0; 
  margin-top: -10px;
  /* animation: slide-left 10s; */

  /* transition: all 5s ease; */
}


div {
 
  width: 200px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction:alternate;
  animation-timing-function: linear;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    /* width: 0%; */
  }

  to {
    margin-left: 0%;
    /* width: 100%; */
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #dec3a7, 0 0 5px #d0b69b, 0 0 6px #b7a088, 0 0 7px #a7927b, 0 0 8px #8a7966;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 4px #a7927b, 0 0 5px #a7927b, 0 0 6px #a7927b, 0 0 7px #a7927b, 0 0 8px #a7927b, 0 0 9px #a7927b;
  }
}