@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&family=Farsan&family=Fasthand&family=Gloria+Hallelujah&family=Great+Vibes&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

html{
     background-color: rgb(147, 211, 136);
}

body{
     text-align: center; 
     font-family: 'Cormorant', serif;

}

h1{
     font-size: 15vh;
     font-family: 'Great Vibes', cursive;

}

p{
     position: relative;
     height: 150vh;
     color: beige;
}

