@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&family=Farsan&family=Fasthand&family=Gloria+Hallelujah&family=Great+Vibes&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

html{
     background-image: url("asset/green.jpeg");
     
}



h1{
     font-size: 15vh;
     font-family: 'Great Vibes', cursive;
     color: rgb(155, 120, 193);
     position: relative;
     margin-top: -5vh;
}

body{
     text-align: center; 
     font-family: 'Cormorant', serif;
     margin: 10vh;
     color: beige;
     font-size: 2.5vh;

}

p{
     height: 150vh;
     position: relative;
}

.row {
     display: flex;
     margin-top: 40vh;   
}
   
   .column {
     flex: 33.33%;
     padding: 5px;
     
   }


 .flower-emoji{
     position: relative;
     font-size: 20vh;
     color: rgb(140, 95, 189);
     height: 6vh;

 }