<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../common/reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="artwork1.css" rel="stylesheet">
</head>
<body>
    <header>
        <main>
    <h1>Hello</h1>
    <figure>
        <section class="artwork">
            <div class="art1"></div>
            <div class="frame"></div>
            <div class="box1"></div>
            <div class="box2"></div>
<!-- artwork in here -->
        </section>
        <figcaption>
            <h1>artist name</h1>
            <p>title</p>
            </figcaption>
    </figure>
    <figure>
        <section class="artwork2">
            <div class="canvas"></div>
            <div class="red1"></div>
            <div class="red2"></div>
            <div class="red3"></div>
            <div class="red4"></div>
            <div class="red5"></div>
            <div class="red6"></div>
            <div class="red7"></div>
            <!-- artwork in here -->
        </section>
        <figcaption>
            <h1>artist name</h1>
            <p>title</p>
            </figcaption>
    </figure>
    <figure>
        <section class="artwork3">
            <!-- artwork in here -->
        </section>
        <figcaption>
            <h1>artist name</h1>
            <p>title</p>
            </figcaption>
    </figure>
    </main>
    </header>
</body>
</html>