<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../common/reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="artwork1.css" rel="stylesheet">
</head>
<body>
    <header>
        <main>
    <h1>Welcome</h1>
    <figure>
        <section class="artwork">
            <div class="art1"></div>
            <div class="frame"></div>
            <div class="box1"></div>
            <div class="box2"></div>
<!-- artwork in here -->
        </section>
        <figcaption>
            <div class="artInfo1">
            <h1>Wassily Kandinsky</h1>
            <p>Zwei Quadrate (Two Squares) <br> 1930<br>
            <a target="_blank" href="https://artsandculture.google.com/asset/zwei-quadrate-two-squares-kandinsky-vassily/twFo9hSOMToBdg?hl=en">Original</a> </p>   
            </div>   
            </figcaption>
    </figure>
    <figure>
        <section class="artwork2">
            <div class="canvas"></div>
            <div class="red1"></div>
            <div class="red2"></div>
            <div class="red3"></div>
            <div class="red4"></div>
            <div class="red5"></div>
            <div class="red6"></div>
            <div class="red7"></div>
            <div class="blue1"></div>
            <div class="blue2"></div>
            <div class="blue3"></div>
            <div class="blue4"></div>
            <div class="blue5"></div>
            <div class="blue6"></div>
            <div class="blue7"></div>

            <!-- artwork in here -->
        </section>
        <figcaption>
            <div class="artInfo2">
            <h1>August Agatz</h1>
            <p>Untitled (Abstract form elements and theory of colours, class records from Wassily Kandinsky's abstract form element classes) <br> 1927<br>
                <a target="_blank" href="https://artsandculture.google.com/asset/untitled-abstract-form-elements-and-theory-of-colours-class-records-from-wassily-kandinsky-s-abstract-form-element-classes-august-agatz/dgHWfyzDv-kLNA?hl=en">Original</a> </p>
            </div>
            </figcaption>
    </figure>
    <figure>
        <section class="artwork3">
            <div class="canvas3"></div>
            <div class="verticalRed"></div>
            <div class="horizontalRed"></div>
            <div class="leftRed"></div>
            <div class="topRightRed"></div>
            <div class="topRightRed"></div>
            <div class="grayBlock"></div>
            <div class="beigeBlock"></div>
            <div class="bottomeGray"></div>
            <div class="topGray"></div>
            <div class="blackLine"></div>
            <div class="bottomBlack"></div>
            <div class="blackBlockPart1"></div>
            <div class="blackBlockPart2"></div>
            <div class="topBlack"></div>
            <div class="blackCircle"></div>

            <!-- artwork in here -->
        </section>
        <figcaption>
            <div class="artInfo3">
            <h1>Corona (Korona) Krause</h1>
            <p>Untitled (Composition, exercise from Wassily Kandinsky's theory of forms and colours classes) <br> 1924<br>
                <a target="_blank" href="https://artsandculture.google.com/asset/untitled-composition-exercise-from-wassily-kandinsky-s-theory-of-forms-and-colours-classes-corona-korona-krause/IwGtBBNqqEck_w?hl=en">Original</a> </p></p>
        </div>
            </figcaption>
    </figure>
    </main>
    </header>
</body>
</html>