html{
    margin: 0 auto;
}
body{
    padding: 10vh;
}

header{
margin-bottom: 20vh;
}

main{
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

header{
    height: 50px;
    background: gold;
}

figure{
margin-top: ;
}

.artwork{
    height: 50vh;  
}

.art1{
    position: relative;
    width: 45vh;
    height: 60vh;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(14, 137, 149);
}

.frame{
    position: relative;
    width: 37vh;
    height: 50vh;
    border: 14px solid rgb(64, 106, 106);
    margin-top: -57vh;
    margin-left: 3vh;
}

.box1{
    position: relative;
    width: 16vh;  
    height: 19vh;
    background-color: rgb(247, 49, 148);
    margin-top: -48vh;
    margin-left: 8vh;
}
.box2{
    position: relative;
    width: 10vh;  
    height: 12vh;
    background-color: rgb(43, 147, 216);
    margin-top: 10vh;
    margin-left: 25vh;
}


.canvas{
    height: 50vh;
    position: relative;
    width: 45vh;
    height: 58vh;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(194, 164, 89);
}

.red1{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(241, 225, 215);
    top: -57vh;
    left: 1vh;
}

.red2{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(231, 197, 195);
    top: -55vh;
    left: 1vh;
}

.red3{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(228, 176, 173);
    top: -53vh;
    left: 1vh;
}
.red4{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(217, 93, 86);
    top: -51vh;
    left: 1vh;
}

.red5{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(170, 70, 65);
    top: -49vh;
    left: 1vh;
}

.red6{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(82, 28, 25);
    top: -47vh;
    left: 1vh;
}

.red7{
    height: 6vh;
    position: relative;
    width: 11vh;
    background-color: rgb(22, 7, 6);
    top: -45vh;
    left: 1vh;
}