/* html{
    position: fixed;
    background-image: url("/collection_project/images/map_background.jpeg");
    background-size: 180vh;
    margin-left: -2vh;
    margin-top: -5vh;
}

.chinese_wisteria{
    height: 8vh;
    width: 8vh;
    position: relative;
    background-color: rgb(130, 44, 44);
    border-radius: 50%;
} */