html{
    margin: 0 auto;
    background-image: url("green_flower.jpeg");
}
body{
    color: blue;
    
}
.purple{
    position: relative;
    left: 25vh;
    top: 45vh;
}

.pink{
    position: relative;

    left: 85vh;
    top: 20vh;
}

.nonnative{
    position: relative;

    left: 75vh;
    top: -45vh;
}

/* .purpleDot{
    position: absolute;
    left: 36vh;
    bottom: 21vh;
} */



/* p:hover, h1:hover, a:hover {
    background-color: yellow;
  } */

  /* span:hover + .purple {
    display: block; 
    animation-duration: 10s;

  } */
