@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&family=Farsan&family=Fasthand&family=Gloria+Hallelujah&family=Great+Vibes&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

html{
    margin: 0 auto;
    background-image: url("green_flower.jpeg");
}

h1{
    color: rgb(23, 81, 19);
    font-size: 10vh;
    font-family: 'Great Vibes', cursive;
        /* font-family: 'Cormorant', serif; */
        margin-top: 3vh;

}

.key{
    position: absolute;
    font-family: 'Cormorant', serif;
    top: 17vh;
    left: 75vh;
    color: rgb(40, 149, 40);
}

body{
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Farsan', cursive; */
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Cormorant', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
        font-family: 'Cormorant', serif;
}
/* .purple{
    position: relative;
    left: 25vh;
    top: 45vh;
}*/

.pink{
    position: relative;

    left: -5vh;
    top: 20vh;
}

.nonnative{
    position: relative;

    left: 15vh;
    top: 36vh;
}

/* .purpleDot{
    position: absolute;
    left: 36vh;
    bottom: 21vh;
}  */



/* p:hover, h1:hover, a:hover {
    background-color: yellow;
  } */

  /* span:hover + .purple {
    display: block; 
    animation-duration: 10s;

  } */












/* 
  /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } */